{% extends 'base.html.twig' %}

{% block title %}Organise un nouveau sortie{% endblock %}

{% block body %}
    <h1>Create new Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('app_sortie_index') }}">Afficher la liste de sorties disponibles</a>
{% endblock %}
